@charset "utf-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,button,article, aside, canvas, details, embed, figure,figcaption, footer, header, hgroup, menu, nav,output, ruby, section, summary, time, mark,audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

button {
    background: transparent;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

html {
    line-height: initial;
}

body {
    font-size: 0.32rem;
}

input {
    border: 1px solid #d8d8d8;
    color: #666;
    border-radius: 5px;
    height: 0.78rem;
    line-height: 0.78rem;
    padding: 0 10px;
    font-size: 0.2rem;
}
input[type=radio] {
    background: #FFF;
    border: 0;
}

a {color:#333; text-decoration:none;cursor: pointer;}
a:hover {color:#2a93f5;}
.clear {clear:both; height:0px; width:100%; font-size:1px; line-height:0px; visibility:hidden; overflow:hidden; }
em{font-style:normal;}

/*---------关于我们------------*/
.about {
    margin: 0 auto;
    background: #ffffff;
    padding: 0.6rem;
}
.about h2{
    font-size: 0.66rem;
    font-weight: 400;
    color: #333;
    line-height: 1rem;
}
.about p{
    margin-bottom: 0.6rem;
    font-size: 0.57rem;
    line-height: 1.15rem;
    font-weight: 400;
    color: #555;
    text-align: left;
    text-indent: 4em;
}
.about p span{
    font-weight: bold;
    color: #333;
}

.commend {
    text-align: center;
    margin: 0.5rem 0 0 0;
    overflow:hidden;
    zoom:1;
}
.commend a {
    width: 6.5rem;
    display:block;
    float: left;
    margin: 0 0.8rem 0.20rem 0;
}
.commend a img{
    width: 6.5rem;
    height:2.46rem;
    border:1px solid #e0e0e0;
}

/*---------新闻指数------------*/
.news-index{
    margin: 0 auto;
    background: #ffffff;
    padding: 0.6rem;
    text-align: center;
}
.news-index img{
    width: 14.7rem;
    height: 8.7rem;
    margin: 0 auto;
}

.content {
    padding:0 10px 10px 10px;
    border-top:1px solid #e0e0e0;
}
article {
    margin-top:0.6rem;
    padding-bottom:0.6rem;
    border-bottom:1px solid #e0e0e0;
    background:#fff;
    display: inline-block;
    width:100%;
}
article:first-child {
    border-top:0px;
}
article h2 {
    padding-right: 5px;
    font-size:0.6rem;
    font-weight: 400;
    line-height:0.92rem;
}
article h2 a {
    text-decoration:none !important;
    font-weight:bold;
    color: #333;
}
article h2 a:hover {
    text-decoration:none;
}

article .article-img-pane {
    width:4.8rem;
    height:2.9rem;
    text-align:center;
    position:relative;
    float:left;
    margin-right:10px;
    overflow:hidden;
}
article .article-img-pane img {
    height:100%;
    max-width: inherit;
}

/*****************/
.dragNav{
    padding:0.5rem 0.6rem;
}
.nav_wrap {
    box-sizing: border-box;
    overflow: hidden;
    background:#fff;

}
.nav_list {
    float: left;
    white-space: nowrap;
    font-size: 0;
    position: relative;
    overflow: hidden;
}
.nav_wrap li {
    display: inline-block;
    margin-right: 0.3rem;
}
.nav_wrap li:last-child{
    display: inline-block;
    margin-right: 0;
}
.nav_wrap a {
    display: block;
    border:1px solid #d8d8d8;
    width: 3.8rem;
    height:1.5rem;
    line-height:1.5rem;
    border-radius: 6px;
    position:relative;
    background:#FFF;
    font-size:0.52rem;
    text-align: center;
    /*margin-right:0.3rem;*/
    vertical-align:middle;
}
.nav_wrap a.choose{
    color:#333;
}
.nav_wrap a.choose:hover{
    text-decoration:none;
    color:#333;
}
.nav_wrap .choose i{
    width:14px;
    height:14px;
    background: url(../images/select.png) no-repeat;
    position:absolute;
    bottom:0;
    right:0;
    line-height:200px;
    overflow:hidden;
    padding:0;
    margin:0;
    background-size:14px 14px;
}
.nav_wrap .choose-h{
    display: block;
    border:1px solid #2a93f5;
    width: 3.7rem;
    height:1.5rem;
    line-height:1.5rem;
    border-radius: 6px;
    position:relative;
    background:#FFF;
    font-size:0.52rem;
    text-align: center;
    margin-right:0.3rem;
    vertical-align:middle;
}
.nav_wrap a.choose-h{
    color:#2a93f5;
}
.nav_wrap a.choose-h:hover{
    text-decoration:none;
    color:#2a93f5;
}

.nav_wrap .choose-h i{
    width:14px;
    height:14px;
    background: url(../images/select-h.png) no-repeat;
    position:absolute;
    bottom:0;
    right:0;
    line-height:200px;
    overflow:hidden;
    padding:0;
    margin:0;
    background-size:14px 14px;
}

/*****************/


/*----nav-box----*/
.nav-box{
    position:relative;
}
.nav-bar{
    height:1.9rem;
    background:#f5f5f5;
}
.nav-bar li{
    width:50%;
    height: 1.9rem;
    margin-right: -.5px;
    float:left;
    text-align:center;
    padding:0.55rem 0;
    display:block;
    font-size:0.7rem;
    font-weight: 400;
    color:#333;
    cursor: pointer;
    position:relative;
}
.nav-bar li i,.nav-bar li img{
    width:0.33rem;
    height:0.33rem;
    overflow:hidden;
    padding:0;
    margin-left: 0.2rem;
}

.nav-bar .hover{
    color:#2a93f5;
    text-decoration:none;
    position:relative;
}
.nav-bar .hover i,.nav-bar .hover img{
    width:0.33rem;
    height:0.33rem;
    overflow:hidden;
    padding:0;
    margin-left: 0.2rem;
}
.nav-bar li span{
    display:block;
    height:0.7rem;
    line-height:0.7rem;
    border-right:1px solid #ccc;
    margin-right:1px;
    font-size:0.65rem;
}
.nav-bar li span.last{
    border-right:none;
}


/*----table----*/
.table {
    margin:0 auto;
    padding:0;
    border-top: solid #e0e0e0 1px;
    border-bottom: solid #e0e0e0 1px;
    border-bottom:0;
    width:100%;
}

.table table {
    background-color: #E9E9E9;
    text-align: center;
}

.table td {
    word-wrap:break-word;
    height:1.93rem;
    line-height: 1.93rem;
    padding: 0 0.6rem;
    background-color: #FFF;
    vertical-align: middle;
    text-align: left;
    border-bottom: solid #e0e0e0 1px;
    font-size:0.52rem;
    font-weight: 400;
    color: #555;
}

.table th {
    height:1.93rem;
    line-height: 1.93rem;
    vertical-align: middle;
    text-align: left;
    padding: 0 0.6rem;
    background-color:#fafafa;
    border-bottom: solid #e0e0e0 1px;
    font-size:0.56rem;
    font-weight: 400;
    color: #333;
}
.bar-box img{
    width:2.0rem;
    height:0.32rem;
}

.bar-arrow-t img{
    width:0.56rem;
    height:0.62rem;
}
.bar-arrow-r img{
    width:0.60rem;
    height:0.52rem;
}

/*----------drop-down-----------*/
.drop-down{
    width: 100%;
    position: absolute;
    top:1.8rem;
    left:0;
    z-index: 99;
    padding-bottom: 0.4rem;
    background-color: #fff;
}

.drop-down ul li{
    width: 100%;
    padding: 0 0.6rem;
    height:1.8rem;
    line-height: 1.8rem;
    border-bottom: solid #e0e0e0 1px;
    font-size: 0.6rem;
    color: #333;
    cursor: pointer;
    display:block;
}
.drop-down ul .hover{
    color: #2091f8;
    background-color:#f8f8f8;
}





/*----------footer-----------*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 0.3rem 0;
    text-align: center;
    color: #333;
    background: #fff;
    font-size: 0.40rem;
    font-weight: 400;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
}

footer a{
    width:30%;
    display: inline-block;
    text-align: center;
}
footer a img{
    width: 0.8rem;
    height: 0.8rem;
}

footer a span{
    display: block;
    color: #333;
}
footer a span.hover{
    color:#2a93f5;
}

/***********************/
/*loading图*/
.tab_wrap{
    position: relative;
}
.tab_wrap .tab_loading img{
    display: block;
    width: 30px;;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    margin:11rem auto;
}

/*进度条*/
.progressBar{
    width:2.0rem;
    height:0.32rem;
    text-align:center;
    background-color: #dadada ;
    border-radius: 10px;
    margin-top: 17px;
}

.progressBarColor{
    height: 100%;
    background-color:  #2091f8 ;
    float:left;
    border-radius: 10px;
}


